.expense_item {
    margin-top: 20px;
    background-color: rgb(160, 193, 238);
    margin:auto
}

.add_new_expense{
height:150px;
}

.expense_item_price{
    color:rgba(53, 25, 122, 0.684);
    padding: 5px;
    font-weight: 500;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.expense_item_title{
    padding: 5px;
    font-weight: 500;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.expense_item{
    padding:5px;
    margin:0 auto;
}

.list-item{
    margin:0 auto;
    text-align: center;
    align-items: center;
    margin-left: -20px;
    padding: 10px;
}